.image {
	position: relative;
	display: inline-block;
	width: 24rem;
	margin: 0px 5px;
}

.image__img {
	width: 100%;
	border-radius: 10px;
	border: solid 5px rgb(235, 235, 106);
}
.image__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 394px;
	height: 226px;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 10px;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.3s;
}
.image__overlay > * {
	transform: translateY(20px);
	transition: transform 0.3s;
}

.image__overlay:hover {
	opacity: 1;
}

.image__overlay:hover > * {
	transform: translateY(0);
}

.image__desc {
	font-size: 5em;
	font-weight: bold;
	font-style: italic;
	text-align: center;
}
